[uwsgi]
uid = {{ sahara_system_user_name }}
gid = {{ sahara_system_group_name }}

virtualenv = /openstack/venvs/sahara-{{ sahara_venv_tag }}
wsgi-file = {{ sahara_bin }}/{{ item.value.wsgi_name }}
http-socket = {{ item.value.uwsgi_bind_address }}:{{ item.value.uwsgi_port }}

master = true
enable-threads = true
processes = {{ sahara_wsgi_processes }}
threads = {{ sahara_wsgi_threads }}
exit-on-reload = true
die-on-term = true
lazy-apps = true
add-header = Connection: close
buffer-size = {{ sahara_wsgi_buffer_size }}
thunder-lock = true
disable-logging = true

# Avoid filling up the logs with health check requests from haproxy.
route-user-agent = ^osa-haproxy-healthcheck$ donotlog:
